<h2>Recent Posts</h2>

<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row">
  <post>
    <div class="top">
      <h5>{{post.title}}</h5>
      <h6>- Posted by {{user.name}} on {{format_date post.date_created}}</h6>
    </div>
    <p>{{post.body}}</p>
  </post>
</div>
{{/each}}
