<h2>Signup</h2>

<div class="row form-container">
  <div class="col s12 m8 offset-m2 offset">
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group bottom-space">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group center">
        <button class="myButton" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<div style="text-align: center;">
  <a class="myLink" href="/login">Login to an existing account</a>
</div>

<script src="./js/login.js"></script>